
#inputName,#inputUser,#inputEmail,#inputPassword {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px var(--box-shallow-first),
                inset -8px -8px 8px var(--box-shallow-second);
}
