.kudosList {
    flex: 1;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #fdc495e8;
    transition: ease-out 2s;
}

.kudosList:hover {
    background-color: #bce6b0e8;
}

.carousel,
.carousel-indicators {
    position: inherit;
    margin: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 60px;
    width: 60px;
}

.carousel-inner {
    height: auto !important;
}

.noKudosToShow {
    width: 600px;
}

.noKudosToShow img {
    width: 100%;
    height: auto;
}

.noKudosToShow h5 {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    font-size: 48px;
    font-family: 'Amatic SC', cursive;
    color: #fff;
}
/*Responsive*/

@media (max-height:760px) {
    .carousel-control-prev, .carousel-control-next {
        margin-top: 55px;
        height: 83%;
    }
}