
.kudoList {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    grid-template-areas: "left-droppable" "right-droppable";
}

#left-drop,#right-drop {
    width: 100%;
    height: 100;
}

.left-main-div:hover,
#right-drop:hover {
    background-color: #8acda2;
    color: #ffffff;
}

.drag-div{
    position: absolute;
    margin-left: 9%;
    margin-top: 5%;
}

.title-message {
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
}

