
.greatJob, .congrats, .veryAwesome, .thankYou, .staySafe {
    position: absolute; 
    display: grid;
    grid-template-columns: var(--card-width);
    grid-template-rows: var(--image-height) 50px var(--text-height) var(--stats-height);
    grid-template-areas: "image" "from-to" "text" "stats";
    border-radius: 18px;
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.greatJob:hover,
.congrats:hover,
.veryAwesome:hover,
.thankYou:hover,
.staySafe:hover
{
    -webkit-transform: rotate(-7deg);
     transform: rotate(-7deg);
    
    -webkit-transition: all 0.5s ease;
     transition: all 0.5s ease;
}


.greatJob {
    background: var(--background-card);
}

.greatJob-image {
    background-color: var(--main-color-greatJob );
    border-bottom: 2px solid var(--button-color-greatJob);
    max-width: 100%;
    max-height: 100%;
}

.congrats {
    background: var(--background-card);
}

.congrats-image {
    background-color: var(--main-color-congrats);
    border-bottom: 2px solid var(--button-color-congrats);
}

.veryAwesome  {
    background: var(--background-card);
}

.veryAwesome-image {
    background-color: var(--main-color-veryAwesome);
    border-bottom: 2px solid var(--button-color-veryAwesome);
}

.thankYou {
    background: var(--background-card);
}

.thankYou-image {
    background-color: var(--main-color-thankYou);
    border-bottom: 2px solid var(--button-color-thankYou);
}

.staySafe {
    background: var(--background-card);
}

.staySafe-image {
    background-color: var(--main-color-staySafe);
    background-size: 50% 50%;
    border-bottom: 2px solid var(--button-color-staySafe);
}

.greatJob-image,.congrats-image, .veryAwesome-image, .thankYou-image, .staySafe-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 100% 100%;
}

.card-type {
    font-size: 56px;
}

.card-from-to {
    grid-area: from-to;
    color: var(--bg-field-color-default);
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
}

.greatJob .card-message{
    border-top: 2px solid var(--button-color-greatJob);
}

.congrats .card-message{
    border-top: 2px solid var(--button-color-congrats);
}

.veryAwesome .card-message{
    border-top: 2px solid var(--button-color-veryAwesome);
}

.thankYou .card-message{
    border-top: 2px solid var(--button-color-thankYou);
}

.staySafe .card-message{
    border-top: 2px solid var(--button-color-staySafe);
}

.card-message {
    grid-area: text;
    margin-top: 30px;
    line-height: 80%;
    color: var(--bg-field-color-default);
    font-size: 30px;
    font-weight: 300;
}

.card-date {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
   
    border-top: 2px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
}

.card-date h5 {
    font-size: 26px;
    color: white;
    text-align: right;
    margin-right: 5%;
}

.greatJob .card-date {
    background: var(--button-color-greatJob); 
}

.congrats .card-date {
    background: var(--button-color-congrats); 
}

.thankYou .card-date {
    background: var(--button-color-thankYou); 
}

.veryAwesome .card-date {
    background: var(--button-color-veryAwesome); 
}

.staySafe .card-date {
    background: var(--button-color-staySafe); 
}

.quotes, .unquotes {
    color: var(--bg-field-color-default);
    font-family: 'Tangerine', cursive;
    font-size: 200%;
}

  