.kudosList{
    display: block;
    height: 100%;
}

.kudoContainer {
    overflow-x: hidden;
}

.kudoRow {
    padding-left: 60px;
    transition: all ease 0.2s;
}

.prevButton, .nextButton {
    width: 60px;
    height: 500px;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-items: center;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}

.prev, .next{
    cursor: pointer;
    width: inherit;
    height: 60px;
}

.header--message{
    padding-top: 20px;
    font-size: 48px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
