
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


:root {
    --card-width: 400px;
    
    --image-height: 350px;
    --to-from-height: 50px;
    --text-height: 350px;
    --stats-height: 30px;
  }

.greatJob, .congrats, .veryAwesome, .thankYou, .staySafe {
    
    display: grid;
    grid-template-columns: var(--card-width);
    grid-template-rows: var(--image-height) 50px var(--text-height) var(--stats-height);
    grid-template-areas: "image" "to-from" "text" "stats";
    border-radius: 18px;
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}


.greatJob {
    background: #8acda2;
}

.greatJob-image {
    background: url("../../../Images/gJob.png");
    border-bottom: 5px solid #9bdeb3;
}

.congrats {
    background: #5aa8d5;
}

.congrats-image {
    background: url("../../../Images/congrats.jpg");
    border-bottom: 5px solid #5fb6e9;
}

.veryAwesome  {
    background: #dc9100;
}

.veryAwesome-image {
    background: url("../../../Images/awesome.png");
    border-bottom: 5px solid #f7a502;
}

.thankYou {
    background: #ff4888;
}

.thankYou-image {
    background: url("../../../Images/thankYou.png");
    border-bottom: 5px solid #fc6fa1;
}

.staySafe {
    background: #020963;
}

.staySafe-image {
    background: url("../../../Images/shaq.png");
    border-bottom: 5px solid #020a7c;
}

.greatJob-image,.congrats-image, .veryAwesome-image, .thankYou-image, .staySafe-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 100% 100%;
}

.card-to-from {
    grid-area: to-from;
   
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 20px;
    text-align: left;
    
}

.greatJob .card-message{
    border-top: 2px solid #9bdeb3;
}

.congrats .card-message{
    border-top: 2px solid #5fb6e9;
}

.veryAwesome .card-message{
    border-top: 2px solid #f7a502;
}

.thankYou .card-message{
    border-top: 2px solid #fc6fa1;
}

.staySafe .card-message{
    border-top: 2px solid #020a7c;
}


.card-message {
    margin-top: 30px;
    
    grid-area: text;
    line-height: 80%;
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-weight: 300;
}

.card-date {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background: rgb(161, 158, 158); 
    border-top: 2px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);

    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
}

.quotes, .unquotes {
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 200%;
  }

  