
.form-welcome-msg {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.login-default,.login-greatJob,.login-veryAwesome,.login-thankYou,.login-congrats,.login-staySafe {
    padding: 0px 10px 0px 10px;
    border-radius: 40px;
    box-shadow: 20px 20px 0px var(--box-shallow-first),
    -20px -20px 20px var(--box-shallow-second);
}

.login-default {
    background: var(--main-color-default);
    width: 100%;
    height: 100%;
   
}

.login-greatJob {
    background: var(--main-color-greatJob);
   
}

.login-veryAwesome {
    background: var(--main-color-veryAwesome);
   
}

.login-thankYou {
    background: var(--main-color-thankYou);
   
}

.login-congrats {
    background: var(--main-color-congrats);
   
}

.login-staySafe {
    background: var(--main-color-staySafe);
   
}

.fields {
    width: 100%;
    padding: 20px 5px 5px 5px;
}

.fields input,textarea {
    border: none;
    outline: none;
    background: none;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px 20px 5px;
}

.fields input,textarea {
    color: var(--bg-field-color-default);
}

.fields textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
}

#inputSender-default,#inputReceiver-default,#inputMessage-default,
#inputSender-greatJob,#inputReceiver-greatJob,#inputMessage-greatJob,
#inputSender-congrats,#inputReceiver-congrats,#inputMessage-congrats,
#inputSender-veryAwesome,#inputReceiver-veryAwesome,#inputMessage-veryAwesome,
#inputSender-thankYou,#inputReceiver-thankYou,#inputMessage-thankYou,
#inputSender-staySafe,#inputReceiver-staySafe,#inputMessage-staySafe {
    border-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
}

#inputSender-default,#inputReceiver-default,
#inputSender-greatJob,#inputReceiver-greatJob,
#inputSender-congrats,#inputReceiver-congrats,
#inputSender-veryAwesome,#inputReceiver-veryAwesome,
#inputSender-thankYou,#inputReceiver-thankYou,
#inputSender-staySafe,#inputReceiver-staySafe {
    margin: 20px;
    width: 275px;
    height: 70px;
}

#inputMessage-default,
#inputMessage-greatJob,
#inputMessage-congrats,
#inputMessage-veryAwesome,
#inputMessage-thankYou,
#inputMessage-staySafe {
    width: 670px;
    height: 230px;
}

#inputSender-default,#inputReceiver-default,#inputMessage-default {
    box-shadow: inset 8px 8px 8px var(--box-shallow-first),
                inset -8px -8px 8px var(--box-shallow-second);
}

#inputSender-greatJob,#inputReceiver-greatJob,#inputMessage-greatJob {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-greatJob),
                inset -8px -8px 8px var(--box-shallow-bottom-greatJob);
}

#inputSender-congrats,#inputReceiver-congrats,#inputMessage-congrats {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-congrats),
                inset -8px -8px 8px var(--box-shallow-bottom-congrats);
}

#inputSender-veryAwesome,#inputReceiver-veryAwesome,#inputMessage-veryAwesome {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-veryAwesome),
                inset -8px -8px 8px var(--box-shallow-bottom-veryAwesome);
}

#inputSender-thankYou,#inputReceiver-thankYou,#inputMessage-thankYou {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-thankYou),
                inset -8px -8px 8px var(--box-shallow-bottom-thankYou);
}

#inputSender-staySafe,#inputReceiver-staySafe,#inputMessage-staySafe {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-staySafe),
                inset -8px -8px 8px var(--box-shallow-bottom-staySafe);
}

.qtdCaracteres{
    text-align: right;
    margin-right: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    font-weight: 700;
}


.createButton-default,.createButton-greatJob,.createButton-congrats,
.createButton-veryAwesome,.createButton-thankYou,.createButton-staySafe {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: var(--box-shallow-second);
    transition: 0.5s;  
}

.createButton-default {
    background-color: var(--button-color-default);
}

.createButton-default:hover {
    background: var(--hover-color-default);
}

.createButton-greatJob {
    background-color: var(--button-color-greatJob);
}

.createButton-greatJob:hover {
    background: var(--hover-color-greatJob);
}

.createButton-congrats {
    background-color: var(--button-color-congrats);
}

.createButton-congrats:hover {
    background: var(--hover-color-congrats);
}

.createButton-veryAwesome {
    background-color: var(--button-color-veryAwesome);
}

.createButton-veryAwesome:hover {
    background: var(--hover-color-veryAwesome);
}

.createButton-thankYou {
    background-color: var(--button-color-thankYou);
}

.createButton-thankYou:hover {
    background: var(--hover-color-thankYou);
}

.createButton-staySafe {
    background-color: var(--button-color-staySafe);
}

.createButton-staySafe:hover {
    background: var(--hover-color-staySafe);
}


.inputError {
    padding-top: 20px;
    text-align: center;
    font-family: 'Lato',sans-serif;
    color: rgb(223, 3, 3);
    font-size: 12px;
}

.foto-table {
    margin-left: 95px;
    display: grid;
    grid-template-columns: 510px;
    grid-template-rows: 102px;
    grid-template-areas: "greatJob-foto-table" "congrats-foto-table" "veryAwesome-foto-table" "thankYou-foto-table" "staySafe-foto-table" ;
}

.foto-table .foto-greatJob {
    grid-area: greatJob-foto-table;
    background: url("../../../Images/Miniatures/greatJob.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

.btn-secondary{
    border:none;
}

.foto-table .foto-congrats {
    grid-area: congrats-foto-table;
    background: url("../../../Images/Miniatures/congrats.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.foto-table .foto-veryAwesome {
    grid-area: veryAwesome-foto-table;
    background: url("../../../Images/Miniatures/awesome.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.foto-table .foto-thankYou {
    grid-area: thankYou-foto-table;
    background: url("../../../Images/Miniatures/thankYou.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.foto-table .foto-staySafe {
    grid-area: staySafe-foto-table;
    background: url("../../../Images/Miniatures/staySafe.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}