.login-default,.login-greatJob,.login-veryAwesome,.login-thankYou,.login-congrats,.login-staySafe { /*This can be one class if color issues were resolved*/
    background: var(--main-color-default);
    width: 700px;
    height: 675px;
    border-radius: 40px;
    box-shadow: 20px 20px 0px var(--box-shallow-first),
    -20px -20px 20px var(--box-shallow-second);
}

.login-greatJob { background: var(--main-color-greatJob); }

.login-veryAwesome {background: var(--main-color-veryAwesome);}

.login-thankYou {background: var(--main-color-thankYou);}

.login-congrats {background: var(--main-color-congrats); }

.login-staySafe {background: var(--main-color-staySafe);}

.form-welcome-msg,.qtdCaracteres,.inputError,.fields input,.textAreaInput,
.createButton-default,.createButton-greatJob,.createButton-congrats,
.createButton-veryAwesome,.createButton-thankYou,.createButton-staySafe {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.form-welcome-msg {
    width: inherit;
    height: 60px;
    font-size: 50px;
}

.fields {
    width: inherit;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
}

.fields input {
    width: 40%;
    height: inherit;
}

.fields input,.textAreaInput {
    border: none;
    background: none;
    color: var(--bg-field-color-default);
    border-radius: 25px;
    font-size: 26px;
}

.textAreaInput {
    width: 95%;
    resize: none;
    overflow: hidden;
    margin-top: 2%;
}

#inputSender-default,#inputReceiver-default,#inputMessage-default {
    box-shadow: inset 8px 8px 8px var(--box-shallow-first),
                inset -8px -8px 8px var(--box-shallow-second);
}

#inputSender-greatJob,#inputReceiver-greatJob,#inputMessage-greatJob {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-greatJob),
                inset -8px -8px 8px var(--box-shallow-bottom-greatJob);
}

#inputSender-congrats,#inputReceiver-congrats,#inputMessage-congrats {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-congrats),
                inset -8px -8px 8px var(--box-shallow-bottom-congrats);
}

#inputSender-veryAwesome,#inputReceiver-veryAwesome,#inputMessage-veryAwesome {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-veryAwesome),
                inset -8px -8px 8px var(--box-shallow-bottom-veryAwesome);
}

#inputSender-thankYou,#inputReceiver-thankYou,#inputMessage-thankYou {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-thankYou),
                inset -8px -8px 8px var(--box-shallow-bottom-thankYou);
}

#inputSender-staySafe,#inputReceiver-staySafe,#inputMessage-staySafe {
    box-shadow: inset 8px 8px 8px var(--box-shallow-top-staySafe),
                inset -8px -8px 8px var(--box-shallow-bottom-staySafe);
}

.qtdCaracteres{
    width: inherit;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.central {
    align-items: center;
    height: 85%;
}

.centralize,.central {
    display: flex;
    justify-content: center;
}

.createButton-default,.createButton-greatJob,.createButton-congrats,
.createButton-veryAwesome,.createButton-thankYou,.createButton-staySafe {
    outline: none;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 60px;
    border-radius: 30px;
    font-size: 40px;
    font-weight: 700;
    color: var(--box-shallow-second);
    transition: 0.5s;  
}

.createButton-default {
    background-color: var(--button-color-default);
}

.createButton-default:hover {
    background: var(--hover-color-default);
}

.createButton-greatJob {
    background-color: var(--button-color-greatJob);
}

.createButton-greatJob:hover {
    background: var(--hover-color-greatJob);
}

.createButton-congrats {
    background-color: var(--button-color-congrats);
}

.createButton-congrats:hover {
    background: var(--hover-color-congrats);
}

.createButton-veryAwesome {
    background-color: var(--button-color-veryAwesome);
}

.createButton-veryAwesome:hover {
    background: var(--hover-color-veryAwesome);
}

.createButton-thankYou {
    background-color: var(--button-color-thankYou);
}

.createButton-thankYou:hover {
    background: var(--hover-color-thankYou);
}

.createButton-staySafe {
    background-color: var(--button-color-staySafe);
}

.createButton-staySafe:hover {
    background: var(--hover-color-staySafe);
}

.inputError {
    width: inherit;
    height: 35px;
    font-family: 'Lato',sans-serif;
    color: rgb(223, 3, 3);
    font-size: 12px;
}

.foto-table {
    display: grid;
    grid-template-columns: 510px;
    grid-template-rows: 102px;
    width: inherit;
    height: 120px;
    justify-content: center; 
}

.foto-table .foto-greatJob {
    background: url("../../../Images/Miniatures/greatJob.png");
}

.foto-table .foto-congrats {
    background: url("../../../Images/Miniatures/congrats.png");
}

.foto-table .foto-veryAwesome {
    background: url("../../../Images/Miniatures/awesome.png");
}

.foto-table .foto-thankYou {
    background: url("../../../Images/Miniatures/thankYou.png");
}

.foto-table .foto-staySafe {
    background: url("../../../Images/Miniatures/staySafe.png");
}

.foto-table .foto-greatJob, .foto-table .foto-congrats, .foto-table .foto-veryAwesome,
.foto-table .foto-thankYou, .foto-table .foto-staySafe {
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

.btn-secondary{
    border:none;
}


/*Responsive*/

@media (max-height:760px) {
    .login-default,.login-greatJob,.login-veryAwesome,.login-thankYou,.login-congrats,.login-staySafe { /*This can be one class if color issues were resolved*/
        width: 500px;
        height: 420px;
        border-radius: 20px;
    }

    .form-welcome-msg {
        height: 30px;
        font-size: 30px;
    }

    .fields {
        height: 40px;
    }

    .textAreaInput {
        height: 130px;
    }

    .fields input, .textAreaInput{
        border-radius: 10px;
    }

    .qtdCaracteres{
        height: 18px;
        font-size: 18px;
    }

    .createButton-default,.createButton-greatJob,.createButton-congrats,
    .createButton-veryAwesome,.createButton-thankYou,.createButton-staySafe {
        height: 30px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    .inputError {
        height: 10px;
        font-size: 10px;
    }
}