.login { /*This can be one class if color issues were resolved*/
    width: 700px;
    height: 675px;
    border-radius: 40px;
}

.form-welcome-msg,.qtdCaracteres,.inputError,.fields input,.textAreaInput,
.button--create {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.form-welcome-msg {
    width: inherit;
    height: 60px;
    font-size: 50px;
}

.fields {
    width: inherit;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
}

.fields input {
    width: 40%;
    height: inherit;
}

.fields input,.textAreaInput {
    border: none;
    background: none;
    color: var(--bg-field-color-default);
    border-radius: 25px;
    font-size: 26px;
}

.textAreaInput {
    width: 95%;
    resize: none;
    overflow: hidden;
    margin-top: 2%;
}

.qtdCaracteres{
    width: inherit;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.central {
    align-items: center;
    height: 85%;
}

.centralize,.central {
    display: flex;
    justify-content: center;
}

.button--create {
    outline: none;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 60px;
    border-radius: 30px;
    font-size: 40px;
    font-weight: 700;
    transition: 0.5s;  
}

.createButton-default:hover {
    background: var(--hover-color-default);
}

.createButton-greatJob:hover {
    background: var(--hover-color-greatJob);
}

.createButton-congrats:hover {
    background: var(--hover-color-congrats);
}

.createButton-veryAwesome:hover {
    background: var(--hover-color-veryAwesome);
}

.createButton-thankYou:hover {
    background: var(--hover-color-thankYou);
}

.createButton-staySafe:hover {
    background: var(--hover-color-staySafe);
}

.inputError {
    width: inherit;
    height: 35px;
    font-family: 'Lato',sans-serif;
    color: rgb(223, 3, 3);
    font-size: 12px;
}

.foto-table {
    display: grid;
    grid-template-columns: 510px;
    grid-template-rows: 102px;
    margin-bottom: 30px;
    width: inherit;
    justify-content: center; 
}

.foto-table .foto-greatJob {
    background: url("../../../Images/Miniatures/greatJob.png");
}

.foto-table .foto-congrats {
    background: url("../../../Images/Miniatures/congrats.png");
}

.foto-table .foto-veryAwesome {
    background: url("../../../Images/Miniatures/veryAwesome.png");
}

.foto-table .foto-thankYou {
    background: url("../../../Images/Miniatures/thankYou.png");
}

.foto-table .foto-staySafe {
    background: url("../../../Images/Miniatures/staySafe.png");
}

.foto-table .foto-greatJob, .foto-table .foto-congrats, .foto-table .foto-veryAwesome,
.foto-table .foto-thankYou, .foto-table .foto-staySafe {
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

.btn-secondary{
    border:none;
}

/*Responsive*/
@media (max-height:760px) {
    .login { /*This can be one class if color issues were resolved*/
        width: 500px;
        height: 420px;
        border-radius: 20px;
    }

    .form-welcome-msg {
        height: 30px;
        font-size: 30px;
    }

    .fields {
        height: 40px;
    }

    .textAreaInput {
        height: 130px;
    }

    .fields input, .textAreaInput{
        border-radius: 10px;
    }

    .qtdCaracteres{
        height: 18px;
        font-size: 18px;
    }

    .button--create {
        height: 30px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    .inputError {
        height: 10px;
        font-size: 10px;
    }

    .foto-table {
        grid-template-columns: 450px;
        grid-template-rows: 90px;
    }
}