@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

:root{/*Variables used in KudoForm*/
    --main-color-default : #ecf0f3; /*logoImage login*/
    --box-shallow-first: #cbced1; /*topBoxShallow*/
    --box-shallow-second: #ffffff; /*bottomBoxShallow*/
    --button-color-default:#8acda2; /*button*/
    --hover-color-default:#1da88a; /*hover*/

    --main-color-greatJob : #c4ffd9; /*logoImage login*/
    --box-shallow-top-greatJob: #5bad78; /*topBoxShallow*/
    --box-shallow-bottom-greatJob: #82c299; /*bottomBoxShallow*/
    --button-color-greatJob:#ee6262; /*button*/
    --hover-color-greatJob:#a82d1d; /*hover*/

    --main-color-congrats : #aadffd; /*logoImage login*/
    --box-shallow-top-congrats: #6fc1f0; /*topBoxShallow*/
    --box-shallow-bottom-congrats: #85bad8; /*bottomBoxShallow*/
    --button-color-congrats:#8acda2; /*button*/
    --hover-color-congrats:#1da88a; /*hover*/

    --main-color-veryAwesome : #fddb96; /*logoImage login*/
    --box-shallow-top-veryAwesome: #f5cc79; /*topBoxShallow*/
    --box-shallow-bottom-veryAwesome: #dab978; /*bottomBoxShallow*/
    --button-color-veryAwesome:#a16476; /*button*/
    --hover-color-veryAwesome:#794051; /*hover*/

    --main-color-thankYou : #fddae6; /*logoImage login*/
    --box-shallow-top-thankYou: #f7abc6; /*topBoxShallow*/
    --box-shallow-bottom-thankYou: #e4b5c5; /*bottomBoxShallow*/
    --button-color-thankYou:#835943; /*button*/
    --hover-color-thankYou:#582e23; /*hover*/

    --main-color-staySafe : #a1f0f1; /*logoImage login*/
    --box-shallow-top-staySafe: #34dfe2; /*topBoxShallow*/
    --box-shallow-bottom-staySafe: #40b6b8; /*bottomBoxShallow*/
    --button-color-staySafe:#7b7da0;; /*button*/
    --hover-color-staySafe:#63669c; /*hover*/

    --nav-footer-color:#1da88a;

}

:root {/*Variables used in KudoCard*/
    --background-card: white;
}   

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    color: #555555;
    background: #ecf0f3;
}
