.footerItems{
    background-color: #1da88a;
    color: white;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: space-around;
}

.footerItems a {
    text-decoration: none;
    color: white;
}

.footerItems a:hover {
    font-size: 150%; 
    transition: 0.5s; 
}