.bg-dark {
    background-color: #1da88a !important;
}

.navbar{
    padding: 0;
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 32px;
}

.nav-link{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: white !important;
}

/*Responsive*/

@media (max-height:760px) {
    .navbar{
        height: 55px;
    }
}
