
.bg-dark {
    background-color: var(--nav-footer-color)!important;
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 32px;
}

.nav-link{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: white !important;
}

