@media only screen and (min-width: 1200px) {
    #left-drop { background-color: brown; }
    #right-drop { background-color: yellow; }
    .greatJob, .congrats, .veryAwesome, .thankYou, .staySafe {
        grid-template-columns: 600px;
        grid-template-rows: 200px 80px 250px 40px;
        margin-left: 150px;
        margin-top: 60px;
    }

    .formatDate {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1200px) {
    #left-drop { background-color: blue; }
    #right-drop { background-color: greenyellow; }
    .greatJob, .congrats, .veryAwesome, .thankYou, .staySafe {
        grid-template-columns: 450px;
        grid-template-rows: 150px 80px 187.5px 30px;
        margin-left: 50px;
        margin-top: 60px;
    }

    .formatDate {
        font-size: 19px;
    }
}